@page "/grades/edit/{GradeId:long}"

@inherits UpdateGradeBase

<h3>Редактирование</h3>

<EditForm Model="@Grade" OnValidSubmit="SaveStudent">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label class="control-label col-md-12">Номер</label>
        <div class="col-md-4">
            <input class="form-control" @bind="Grade.Number" />
        </div>
        <ValidationMessage For="@(() => Grade.Number)" />
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">Параллель</label>
        <div class="col-md-4">
            <input class="form-control" @bind="Grade.Parallel" />
        </div>
        <ValidationMessage For="@(() => Grade.Parallel)" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <button type="button" class="btn btn-light" @onclick="Cancel">Отмена</button>
    </div>
</EditForm>

@code {
    
}