@page "/teachers"
@using Data.Models
@inject SchoolHttpClient HttpClient
@inject IJSRuntime Js

<h1>Список учителей</h1>

<div class="form-group">
    <a class="btn btn-success" href="teachers/create"><i class="oi oi-plus"></i> Добавить</a>
</div>
<br>

@if (_teachers == null)
{
    <p>
        <em>Загрузка...</em>
    </p>
}
else if (_teachers.Length == 0)
{
    <text>Список пуст.</text>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var teacher in _teachers)
        {
            <tr>
                <td>@teacher.LastName</td>
                <td>@teacher.FirstName</td>
                <td>@teacher.MiddleName</td>
                <td>
                    <a class="btn btn-success" href="teachers/edit/@teacher.Id">Редактировать</a>
                    <button class="btn btn-danger" @onclick="@(() => Delete(teacher.Id))">Удалить</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    Teacher[] _teachers { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var getAllUri = new Uri($"{HttpClient.TeachersServiceHost}api/v1/teachers");
        _teachers = await HttpClient.GetFromJsonAsync<Teacher[]>(getAllUri);
    }

    async Task Delete(int teacherId)
    {
        var teacher = _teachers.First(x => x.Id == teacherId);
        if (await Js.InvokeAsync<bool>("confirm", $"Вы действительно хотите удалить запись {teacher.FirstName}, {teacher.Id}?"))
        {
            var deleteUri = new Uri($"{HttpClient.TeachersServiceHost}api/v1/teachers/{teacherId}");
            await HttpClient.DeleteAsync(deleteUri);
            await OnInitializedAsync();
        }
    }
}